OCXO_App/OCXO_App/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OCXO_App/OCXO_App/obj/x64/
OCXO_App/.vs/OCXO_App/v15/Server/sqlite3/storage.ide
OCXO_App/.vs/OCXO_App/v15/
OCXO_App/OCXO_App/bin/x64/Debug/
OCXO_App/OCXO_App/bin/x64/Release/
